{% extends "base.html" %}

{% load static %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<section class="main">
    <div class="main-area">
        <div class="main-overlay"></div>
        <div class="bottom-gradient"></div>
        <section class="content about">
            <div class="container">
                <div class="row pb-5">
                    <div class="col-md-3 pe-md-5 d-flex justify-content-center">
                        <div class="prof-photo-group">
                            <div class="prof-circle secondary box-shadow"></div>
                            <div class="prof-circle primary box-shadow"></div>
                            <img src="{% static 'img/jm_portrait.jpeg' %}" class="prof-photo img-fluid box-shadow" alt="">
                            <h1>John Malley</h1>
                            <div class="title">Software Engineer<br> &amp; Manager</div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="about-text text-white">
                            <p class="tagline">Strategically-minded and technologically astute, blending technological expertise with strategic leadership to foster innovation, streamline project execution, and catalyze team development.</p>
                            <p>Skilled in architecting and optimizing robust, user-centric web applications, ensuring cohesive functionality across frontend and backend dimensions. Expert at deploying seamless software solutions, aligning functionality, usability, and reliability to meet multifaceted user needs. Accomplished in driving development teams through complex projects, fostering a culture of mutual respect, collaboration, and focus on unified objectives. Experienced in managing multiple projects with competing deadlines and implementing effective project management processes.</p>
                            <div class="row skills">
                                <div class="col-12">
                                    <h3>Areas of Expertise</h3>
                                </div>
                                <div class="col-md-6">
                                    <ul>
                                        <li>Strategic Planning &amp; Execution</li>
                                        <li>Full-Stack Web Development</li>
                                        <li>Quality Assurance Strategies</li>
                                        <li>Agile Project Management</li>
                                        <li>Continuous Integration &amp; Deployment</li>
                                        <li>Cross-Functional Team Leadership</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul>
                                        <li>API Development &amp; Management</li>
                                        <li>Software Lifecycle Management</li>
                                        <li>Scalable Software Engineering</li>
                                        <li>User Experience Optimization</li>
                                        <li>Remote Team Coordination</li>
                                        <li>Stakeholder Engagement</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row skills">
                                <div class="col-12">
                                    <h3>Technical Proficiencies</h3>
                                    <table class="table">
                                        <tr>
                                            <td>Frontend:</td>
                                            <td>HTML5, CSS3, JavaScript, jQuery, Bootstrap</td>
                                        </tr>
                                        <tr>
                                            <td>Backend:</td>
                                            <td>Python, Django, SQL, MySQL, PostgreSQL</td>
                                        </tr>
                                        <tr>
                                            <td>Cloud:</td>
                                            <td>AWS (EC2, RDS, S3, VPCs, ELBs, IAM, Serverless offerings)</td>
                                        </tr>
                                        <tr>
                                            <td>Design:</td>
                                            <td>Adobe Creative Cloud, Figma</td>
                                        </tr>
                                        <tr>
                                            <td>Learning:</td>
                                            <td>React (in progress)</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="footer">
                <div class="container-fluid">
                    <hr class="mt-0 mb-2">
                </div>
                <div class="container-fluid d-flex justify-content-between text-shadow">
                    <div class="copyright"><small>&copy; 2023 John Malley</small></div>
                    <div class="socials d-flex">
                        <a class="github" href="https://github.com/jpmalley"><i class="fa-brands fa-github"></i></a>
                        <a class="linkedin" href="https://www.linkedin.com/in/jpmalley/"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
            </section>
        </section>
    </div>
</section>

{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}