{% extends "base.html" %}

{% load static %}

{% block extra_css %}

{% endblock extra_css %}

{% block mobile_title %}About{% endblock mobile_title %}

{% block content %}

<section class="main">
    <div class="main-area">
        <div class="main-overlay"></div>
        <div class="bottom-gradient"></div>
        <section class="content about">
            <div class="container">
                <div class="row pb-5">
                    <div class="col-md-3 pe-md-5 d-flex justify-content-center">
                        <div class="prof-photo-group">
                            <div class="prof-circle secondary box-shadow"></div>
                            <div class="prof-circle primary box-shadow"></div>
                            <img src="{% static 'img/jm_portrait.jpeg' %}" class="prof-photo img-fluid box-shadow" alt="">
                            <h1>John Malley</h1>
                            <div class="title">Designer<br>&nbsp;&amp; Software Engineer</div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="about-text text-white">
                            <p class="tagline">Strategically-minded and technologically astute, blending innovative design with technical expertise. Leveraging skills in both technology and design to drive impactful solutions and create seamless user experiences.</p>
                            <p>I'm a software developer with a strong design background, capable of building a website from the ground up, ensuring it looks fantastic and runs smoothly. My expertise in creating robust, user-centric web applications allows me to seamlessly integrate frontend and backend functionality while prioritizing design aesthetics and user experience.</p>
                            <p>Leading development teams through intricate projects, I foster a culture of mutual respect and collaboration, leveraging my design skills to create high-functioning and visually appealing tech. With a track record of overseeing numerous projects and meeting stringent deadlines, I guarantee streamlined and effective operations.</p>
                            <p>Living in New Orleans, I enjoy indulging in Creole fare with my wife, tinkering with my 3D printer, and spending time with my dog and two cats.</p>
                            <div class="row skills">
                                <div class="col-12">
                                    <h3>Areas of Expertise</h3>
                                </div>
                                <div class="col-md-6">
                                    <ul class="checks mb-0">
                                        <li>Tactical Planning &amp; Execution</li>
                                        <li>Agile Project Management</li>
                                        <li>Cross-Functional Team Leadership</li>
                                        <li>Stakeholder Engagement</li>
                                        <li>Remote Team Coordination</li>
                                        <li>Software Lifecycle Management</li>
                                        <li>Continuous Integration &amp; Deployment</li>
                                        <li>Scalable Software Engineering</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="checks">
                                        <li>Full-Stack Web Development</li>
                                        <li>API Development &amp; Management</li>
                                        <li>Quality Assurance Strategies</li>
                                        <li>User Experience Optimization</li>
                                        <li>UI/UX Design</li>
                                        <li>Interactive Prototyping &amp; Wireframing</li>
                                        <li>Typography &amp; Layout Design</li>
                                        <li>Visual Design &amp; Branding</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row skills">
                                <div class="col-12">
                                    <h3>Technical Proficiencies</h3>
                                    <table class="table">
                                        <tr>
                                            <td>Frontend:</td>
                                            <td>HTML5, CSS3, JavaScript, jQuery, Bootstrap, Blazor</td>
                                        </tr>
                                        <tr>
                                            <td>Backend:</td>
                                            <td>Python, Django, SQL, MySQL, PostgreSQL, C#, .NET Core</td>
                                        </tr>
                                        <tr>
                                            <td>Cloud:</td>
                                            <td>AWS (EC2, RDS, S3, VPCs, ELBs, IAM, Serverless offerings)</td>
                                        </tr>
                                        <tr>
                                            <td>Design:</td>
                                            <td>InDesign, Photoshop, Illustrator, Figma</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "./footer.html" %}
        </section>
    </div>
</section>

{% endblock content %}

{% block extra_js %}
<script>
    gsap.from(".prof-photo-group, .about-text", {
        y: "100%",
        autoAlpha: 0,
        duration: 1,
        stagger: 0.1,
        ease: "power3.out"
    });
</script>
{% endblock extra_js %}