{% extends "base.html" %}

{% load static %}

{% block extra_css %}

{% endblock extra_css %}

{% block mobile_title %}Projects{% endblock mobile_title %}

{% block content %}

<section class="main">
    <div class="main-area">
        <div class="main-overlay"></div>
        <div class="bottom-gradient"></div>
        <section class="content portfolio">
            <div class="container">
                <!-- Nav pills -->
                <ul class="toggler-nav nav nav-pills justify-content-center mb-5" id="projectTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="design-tab" data-bs-toggle="pill" data-bs-target="#design" type="button" role="tab" aria-controls="design" aria-selected="true">Design</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="development-tab" data-bs-toggle="pill" data-bs-target="#development" type="button" role="tab" aria-controls="development" aria-selected="false">Development</button>
                    </li>
                    <div class="toggler-switch"></div>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" id="projectTabsContent">
                    <div class="tab-pane fade show active" id="design" role="tabpanel" aria-labelledby="design-tab">
                        {% include "home/projects/design-tab.html" %}
                    </div>
                    <div class="tab-pane fade" id="development" role="tabpanel" aria-labelledby="development-tab">
                        {% include "home/projects/development-tab.html" %}
                    </div>
                </div>
            </div>
            {% include "./footer.html" %}
        </section>
    </div>
</section>

{% include "home/projects/insights.html" %}
{% include "home/projects/coffee.html" %}
{% include "home/projects/able.html" %}
{% include "home/projects/brew.html" %}
{% include "home/projects/coasters.html" %}
{% include "home/projects/travel.html" %}
{% include "home/projects/recipe.html" %}
{% include "home/projects/college.html" %}
{% include "home/projects/holiday.html" %}
{% include "home/projects/waypoints.html" %}


{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/projects_scripts.js' %}"></script>
{% endblock extra_js %}