{% extends "base.html" %}

{% load static %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<section class="main">
    <div class="main-area">
        <div class="main-overlay"></div>
        <div class="bottom-gradient"></div>
        <section class="content resume">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-md-3 pe-md-5 d-flex justify-content-center">
                        <div class="prof-photo-group">
                            <div class="prof-circle secondary box-shadow"></div>
                            <div class="prof-circle primary box-shadow"></div>
                            <img src="/img/jm_portrait.jpeg" class="prof-photo img-fluid box-shadow" alt="">
                            <h1>John Malley</h1>
                            <div class="tagline">Software Engineer<br> & Manager</div>
                        </div>
                    </div> -->
                    <div class="col-md-12">
                        <div class="resume-text text-white">
                            <div class="header">
                                <h1 class="text-white">John Malley</h1>
                                <div class="tagline text-start">Software Engineer &amp; Manager</div>
                            </div>
                            <div class="experience">
                                <h2>Experience</h2>
                                <div class="job"> 
                                    <h3>Web Development &amp; IT Manager, TeeTurtle <span class="badge rounded-pill bg-secondary">FEB 2021 - OCT 2022</span></h3>
                                    <ul>
                                        <li>Managed the CI/CD development lifecycle for the business's custom ecommerce platform and POS iOS application</li>
                                        <li>Maintained APIs, EDI connections, and system integrations to ensure data integrity between all business critical platforms</li>
                                        <li>Responsible for troubleshooting product data integrity errors between ERP and e-commerce platforms</li>
                                        <li>Maintained AWS IAM account access, instances, and databases for both internal and external apps</li>
                                        <li>Responsible for scheduling, testing, and deploying ERP system upgrades</li>
                                        <li>Created, implemented, and documented processes with automations to improve efficiency between departments</li>
                                        <li>Implemented an MDM to manage devices and automate patch deployment remotely</li>
                                        <li>Increased security measures by implementing a VPN, MFA authentication, and phishing awareness training</li>
                                    </ul>
                                </div>
                                <div class="job"> 
                                    <h3>Technical Project Manager, TeeTurtle <span class="badge rounded-pill bg-secondary">JUN 2019 - FEB 2021</span></h3>
                                    <ul>
                                        <li>Gathered new e-commerce platform specifications through process interviews with all users of the previous platform and created summaries for stakeholders to approve new development</li>
                                        <li>Created workable prototypes with Figma to display and test drive new features before being put into development</li>
                                        <li>Continued to write and maintain all frontend interface HTML, CSS, and JS for the e-commerce websites</li>
                                        <li>Implemented GDPR and CCPA compliance for the e-commerce websites</li>
                                        <li>Tested new developments to ensure they matched specifications and communicated feedback between internal teams and external developers</li>
                                    </ul>
                                </div>
                                <div class="job"> 
                                    <h3>Web Developer, TeeTurtle <span class="badge rounded-pill bg-secondary">MAR 2018 - FEB 2021</span></h3>
                                    <ul>
                                        <li>Gathered new e-commerce platform specifications through process interviews with all users of the previous platform and created summaries for stakeholders to approve new development</li>
                                        <li>Created workable prototypes with Figma to display and test drive new features before being put into development</li>
                                        <li>Continued to write and maintain all frontend interface HTML, CSS, and JS for the e-commerce websites</li>
                                        <li>Implemented GDPR and CCPA compliance for the e-commerce websites</li>
                                        <li>Tested new developments to ensure they matched specifications and communicated feedback between internal teams and external developers</li>
                                    </ul>
                                </div>
                                <div class="job"> 
                                    <h3>Email Designer/Developer, EllieMae <span class="badge rounded-pill bg-secondary">MAR 2017 - JAN 2018</span></h3>
                                    <ul>
                                        <li>Gathered new e-commerce platform specifications through process interviews with all users of the previous platform and created summaries for stakeholders to approve new development</li>
                                        <li>Created workable prototypes with Figma to display and test drive new features before being put into development</li>
                                        <li>Continued to write and maintain all frontend interface HTML, CSS, and JS for the e-commerce websites</li>
                                        <li>Implemented GDPR and CCPA compliance for the e-commerce websites</li>
                                        <li>Tested new developments to ensure they matched specifications and communicated feedback between internal teams and external developers</li>
                                    </ul>
                                </div>
                                <div class="job"> 
                                    <h3>Graphic Designer, The Growth Partnership <span class="badge rounded-pill bg-secondary">MAR 2017 - JAN 2018</span></h3>
                                    <ul>
                                        <li>Designed print brochures, ads, posters, signage, booklets and digital assets for clients in the financial industry</li>
                                        <li>Managed third party vendor relationships with printers both locally and remotely</li>
                                        <li>Managed assets and brand standards for over 40 different clients</li>
                                        <li>Created design mock-ups for websites and emails</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="certifications">
                                <h2>Certifications</h2>
                                <h3>AWS Certified Solutions Architect - Professional <span class="in-progress">// in progress</span></h3>
                            </div>
                            <div class="education">
                                <h2>Education</h2>
                                <div>
                                    <p>Bachelor of Arts, Graphic Design<br> University of Missouri - Columbia</p>
                                </div>
                            </div>
                            <div class="skills-attributes">
                                <h2>Skills &amp; Attributes</h2>
                                <ul>
                                    <li>Advanced knowledge of HTML5, CSS3, JavaScript, jQuery, Python, Django, and SQL</li>
                                    <li>Advanced knowledge of AWS Cloud architecture including, EC2, RDS, S3, VPCs, ELBs, IAM and serverless offerings</li>
                                    <li>Effective manager that prioritizes open communication, empathy, and trust</li>
                                    <li>Former Certified ScrumMaster and Certified Scrum Product Owner by the Scrum Alliance</li>
                                    <li>Experience managing multiple projects with competing deadlines and implementing effective project management processes on the Trello platform with automations on the Zapier platform</li>
                                    <li>Experience managing remote employees across many different time zones, including international teams</li>
                                    <li>Advanced knowledge of Adobe Creative Cloud programs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="footer">
                <div class="container-fluid">
                    <hr class="mt-0 mb-2">
                </div>
                <div class="container-fluid d-flex justify-content-between text-shadow">
                    <div class="copyright"><small>&copy; 2023 John Malley</small></div>
                    <div class="socials d-flex">
                        <a class="github" href="https://github.com/jpmalley"><i class="fa-brands fa-github"></i></a>
                        <a class="linkedin" href="https://www.linkedin.com/in/jpmalley/"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
            </section>
        </section>
    </div>
</section>

{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}