{% load static %}

<div id="brewModal" class="modal fade" tabindex="-1" aria-hidden="true" data-bs-theme="dark">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="mb-0">Brew Source App UI Design</h2>
                <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div id="brewCarousel" class="carousel slide mt-4">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#brewCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#brewCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#brewCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    <button type="button" data-bs-target="#brewCarousel" data-bs-slide-to="3" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="d-flex flex-row mx-5">
                                            <img src="{% static 'img/brewsource-1.png' %}" class="d-block w-50" alt="...">
                                            <img src="{% static 'img/brewsource-2.png' %}" class="d-block w-50" alt="...">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-flex flex-row mx-5">
                                            <img src="{% static 'img/brewsource-3.png' %}" class="d-block w-50" alt="...">
                                            <img src="{% static 'img/brewsource-4.png' %}" class="d-block w-50" alt="...">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-flex flex-row mx-5">
                                            <img src="{% static 'img/brewsource-5.png' %}" class="d-block w-50" alt="...">
                                            <img src="{% static 'img/brewsource-6.png' %}" class="d-block w-50" alt="...">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-flex flex-row mx-5">
                                            <img src="{% static 'img/brewsource-7.png' %}" class="d-block w-50" alt="...">
                                            <img src="{% static 'img/brewsource-8.png' %}" class="d-block w-50" alt="...">
                                        </div>
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#brewCarousel" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#brewCarousel" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                        <div class="col-12 text-white">
                            <p class="my-4">Inspired by my passion for homebrewing, I created a personal mock-up and UI brainstorming project for an app called Brew Source. This app is designed to help homebrewers manage and create their beer recipes, log their brewing sessions, and connect with the brewing community. The user interface is intuitive and visually appealing, with a warm color palette that reflects the craft brewing culture. Key features include recipe browsing and creation, ingredient tracking, brewing logs, and community forums. This project showcases my skills in UI/UX design, user-centric thinking, and the ability to translate inspiration into practical, engaging digital solutions.</p>
                            <button type="button" class="btn btn-outline-secondary rounded-pill" data-bs-dismiss="modal"><i class="fa-regular fa-circle-left"></i> Return to Projects</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>