{% load static %}

<div id="collegeModal" class="modal fade" tabindex="-1" aria-hidden="true" data-bs-theme="dark">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content content">
            <div class="modal-header">
                <h2 class="mb-0">College Savings Infographic for EllieMae</h2>
                <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <img loading="lazy" class="img-fluid modal-img mt-4" src="{% static 'img/infographic-comp.png' %}" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 text-white">
                            <p class="mt-4 mb-0">For EllieMae, I custom designed an engaging and informative infographic focused on college savings. Utilizing a vibrant color palette and playful design elements, I aimed to create an inviting and visually appealing piece that encourages readers to explore the content in depth. The infographic breaks down complex information into easily digestible sections, making it accessible and enjoyable for a wide audience. This project highlights my ability to combine informative content with creative design to capture and maintain reader interest.</p>
                        </div>
                        <div class="col-md-4 text-white skills">
                            <h3 class="mt-4">Skills used:</h3>
                            <ul class="checks mb-4">
                                <li>Infographic Design</li>
                                <li>Illustration</li>
                                <li>Color Theory</li>
                                <li>Typography</li>
                                <li>Data Visualization</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-outline-secondary rounded-pill my-4" data-bs-dismiss="modal"><i class="fa-regular fa-circle-left"></i> Return to Projects</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>