{% load static %}

<div id="collegeModal" class="modal fade" tabindex="-1" aria-hidden="true" data-bs-theme="dark">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="mb-0">College Savings Infographic for EllieMae</h2>
                <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <img class="img-fluid modal-img mt-4" src="{% static 'img/infographic-comp.png' %}" alt="">
                        </div>
                        <div class="col-12 text-white">
                            <p class="mb-4">For EllieMae, I custom designed an engaging and informative infographic focused on college savings. Utilizing a vibrant color palette and playful design elements, I aimed to create an inviting and visually appealing piece that encourages readers to explore the content in depth. The infographic breaks down complex information into easily digestible sections, making it accessible and enjoyable for a wide audience. This project highlights my ability to combine informative content with creative design to capture and maintain reader interest.</p>
                            <button type="button" class="btn btn-outline-secondary rounded-pill" data-bs-dismiss="modal"><i class="fa-regular fa-circle-left"></i> Return to Projects</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>