<div class="grid-container">
    <div class="grid-01">
        <div class="bg-animation bg-info"></div>
        <a href="#" class="grid-link" data-bs-toggle="modal" data-bs-target="#insightsModal">
            <div class="grid-content">
                <div class="badges">
                    <span class="badge rounded-pill bg-info"><span class="badge-text">PRINT<span class="d-none d-md-inline"> LAYOUT</span></span></span>
                </div>
            </div>
        </a>
    </div>
    <div class="grid-02">
        <div class="bg-animation bg-primary"></div>
        <a href="#" class="grid-link" data-bs-toggle="modal" data-bs-target="#coffeeModal">
            <div class="grid-content">
                <div class="badges">
                    <span class="badge rounded-pill bg-primary"><span class="badge-text">PACKAGE DESIGN</span></span>
                </div>
            </div>
        </a>
    </div>
    <div class="grid-03">
        <div class="bg-animation bg-danger"></div>
        <a href="#" class="grid-link" data-bs-toggle="modal" data-bs-target="#ableModal">
            <div class="grid-content">
                <div class="badges">
                    <span class="badge rounded-pill bg-danger"><span class="badge-text">BRANDING</span></span>
                </div>
            </div>
        </a>
    </div>
    <div class="grid-04">
        <div class="bg-animation bg-secondary"></div>
        <a href="#" class="grid-link" data-bs-toggle="modal" data-bs-target="#brewModal">
            <div class="grid-content">
                <div class="badges">
                    <span class="badge rounded-pill bg-secondary"><span class="badge-text">UI/UX<span class="d-none d-md-inline"> DESIGN</span></span></span>
                </div>
            </div>
        </a>
    </div>
    <div class="grid-05">
        <div class="bg-animation bg-warning"></div>
        <a href="#" class="grid-link" data-bs-toggle="modal" data-bs-target="#coastersModal">
            <div class="grid-content">
                <div class="badges">
                    <span class="badge rounded-pill bg-warning"><span class="badge-text">CUSTOM MARKETING</span></span>
                </div>
            </div>
        </a>
    </div>
    <div class="grid-06">
        <div class="bg-animation bg-info"></div>
        <a href="#" class="grid-link" data-bs-toggle="modal" data-bs-target="#travelModal">
            <div class="grid-content">
                <div class="badges">
                    <span class="badge rounded-pill bg-info"><span class="badge-text">PRINT<span class="d-none d-md-inline"> LAYOUT</span></span></span>
                </div>
            </div>
        </a>
    </div>
    <div class="grid-07">
        <div class="bg-animation bg-success"></div>
        <a href="#" class="grid-link" data-bs-toggle="modal" data-bs-target="#recipeModal">
            <div class="grid-content">
                <div class="badges">
                    <span class="badge rounded-pill bg-success"><span class="badge-text">EMAIL<span class="d-none d-md-inline"> DESIGN</span></span></span>
                </div>
            </div>
        </a>
    </div>
    <div class="grid-08">
        <div class="bg-animation bg-success"></div>
        <a href="#" class="grid-link" data-bs-toggle="modal" data-bs-target="#collegeModal">
            <div class="grid-content">
                <div class="badges">
                    <span class="badge rounded-pill bg-success"><span class="badge-text">EMAIL<span class="d-none d-md-inline"> DESIGN</span></span></span>
                </div>
            </div>
        </a>
    </div>
    <div class="grid-09">
        <div class="bg-animation bg-success"></div>
        <a href="#" class="grid-link" data-bs-toggle="modal" data-bs-target="#holidayModal">
            <div class="grid-content">
                <div class="badges">
                    <span class="badge rounded-pill bg-success"><span class="badge-text">EMAIL<span class="d-none d-md-inline"> DESIGN</span></span></span>
                </div>
            </div>
        </a>
    </div>
    <div class="grid-10">
        <div class="bg-animation bg-success"></div>
        <a href="#" class="grid-link" data-bs-toggle="modal" data-bs-target="#waypointsModal">
            <div class="grid-content">
                <div class="badges">
                    <span class="badge rounded-pill bg-success"><span class="badge-text">EMAIL<span class="d-none d-md-inline"> DESIGN</span></span></span>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="tab-footer text-center my-5">
    <button class="btn btn-lg btn-outline-secondary rounded-pill switch-tab-dev">Development Projects <i class="fa-solid fa-code ms-1"></i></button>
</div>