{% load static %}

<div id="holidayModal" class="modal fade" tabindex="-1" aria-hidden="true" data-bs-theme="dark">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="mb-0">Holiday Gift Guide Email for EllieMae</h2>
                <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <img class="img-fluid modal-img mt-4" src="{% static 'img/vibrantliving-comp.png' %}" alt="">
                        </div>
                        <div class="col-12 text-white">
                            <p class="mb-4">For EllieMae, I designed a sophisticated holiday gift guide email, inspired by magazine layouts. Embracing a CSS grid style, I ensured the layout was 100% responsive, providing an optimal viewing experience across all devices. The email featured live text and utilized conditional formatting, maintaining its elegant design while being fully functional in every email client. After meticulous testing, this project stands as a testament to my commitment to high-quality, cross-platform email design, blending visual appeal with technical precision.</p>
                            <button type="button" class="btn btn-outline-secondary rounded-pill" data-bs-dismiss="modal"><i class="fa-regular fa-circle-left"></i> Return to Projects</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>