{% load static %}

<div id="recipeModal" class="modal fade" tabindex="-1" aria-hidden="true" data-bs-theme="dark">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="mb-0">Recipe Email Template for EllieMae</h2>
                <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <img class="img-fluid modal-img mt-4" src="{% static 'img/recipe-comp.png' %}" alt="">
                        </div>
                        <div class="col-12 text-white">
                            <p class="mb-4">For EllieMae and their Encompass CRM, I redesigned their recipe email template, transforming it from a static image format to a fully responsive, live text format. This enhancement ensures optimal readability and accessibility across all devices, vastly improving user engagement and interaction. The new design prioritizes responsiveness and adaptability, providing a seamless experience whether viewed on a desktop, tablet, or smartphone. This project demonstrates my commitment to modern, user-centric design principles and my ability to enhance digital communications through innovative solutions.</p>
                            <button type="button" class="btn btn-outline-secondary rounded-pill" data-bs-dismiss="modal"><i class="fa-regular fa-circle-left"></i> Return to Projects</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>