{% load static %}

<div id="travelModal" class="modal fade" tabindex="-1" aria-hidden="true" data-bs-theme="dark">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="mb-0">Elsewhere Travel Magazine</h2>
                <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <img class="img-fluid modal-img mt-4" src="{% static 'img/elsewhere-1.jpg' %}" alt="">
                        </div>
                        <div class="col-12 text-white">
                            <p class="my-4">As part of a college group project, I contributed to the creation of "Elsewhere Travel" magazine, handling all features, ads, and articles. This project marked my first experience with professional CMYK press printing, providing valuable insights into the printing process and high-quality production standards. The magazine showcased diverse travel destinations, emphasizing my ability to work collaboratively and manage complex design projects from concept to completion.</p>
                            <button type="button" class="btn btn-outline-secondary rounded-pill" data-bs-dismiss="modal"><i class="fa-regular fa-circle-left"></i> Return to Projects</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>