{% load static %}

<div id="waypointsModal" class="modal fade" tabindex="-1" aria-hidden="true" data-bs-theme="dark">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="mb-0">Waypoints Email Template</h2>
                <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <img class="img-fluid modal-img mt-4" src="{% static 'img/waypoints-comp.png' %}" alt="">
                        </div>
                        <div class="col-12 text-white">
                            <p class="mb-4">For EllieMae, I crafted an email that stands out with the use of custom fonts and background images, creating a unique and visually appealing design. To ensure a seamless experience across all email clients, fallback styles were meticulously implemented. This approach guarantees that the email maintains its aesthetic and readability, even in clients that do not support advanced features. The result is an engaging and distinctive email that delivers the best possible experience on all devices, showcasing my ability to blend creativity with technical adaptability.</p>
                            <button type="button" class="btn btn-outline-secondary rounded-pill" data-bs-dismiss="modal"><i class="fa-regular fa-circle-left"></i> Return to Projects</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>